ClientesPedidos/Connected Services/ServiceReference2/ServiceClientes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Datos.ClasEx" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Datos.ClasEx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClientesEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesEx" nillable="true" type="tns:ClientesEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesEx" nillable="true" type="tns:ArrayOfClientesEx" />
  <xs:complexType name="ClientesEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdC" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesEx" nillable="true" type="tns:ClientesEx" />
</xs:schema>