ClientesPedidos/Connected Services/ServiceReference3/ServiceProduc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Datos.ClasEx" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Datos.ClasEx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdEx" nillable="true" type="tns:ProdEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdEx" nillable="true" type="tns:ArrayOfProdEx" />
  <xs:complexType name="ProdEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdEx" nillable="true" type="tns:ProdEx" />
</xs:schema>