ClientesPedidos/Connected Services/ServiceReference1/ServicePedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicePedidos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63453/ServicePedidos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63453/ServicePedidos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63453/ServicePedidos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Datos.ClasEx" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePedidos_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_BuscarPorClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorClientes" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_BuscarPorClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_BuscarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorId" />
  </wsdl:message>
  <wsdl:message name="IServicePedidos_BuscarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePedidos">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/Obtener" message="tns:IServicePedidos_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/ObtenerResponse" message="tns:IServicePedidos_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/Agregar" message="tns:IServicePedidos_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/AgregarResponse" message="tns:IServicePedidos_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/Editar" message="tns:IServicePedidos_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/EditarResponse" message="tns:IServicePedidos_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/Eliminar" message="tns:IServicePedidos_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/EliminarResponse" message="tns:IServicePedidos_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/BuscarPorClientes" message="tns:IServicePedidos_BuscarPorClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/BuscarPorClientesResponse" message="tns:IServicePedidos_BuscarPorClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePedidos/BuscarPorId" message="tns:IServicePedidos_BuscarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePedidos/BuscarPorIdResponse" message="tns:IServicePedidos_BuscarPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePedidos" type="tns:IServicePedidos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorClientes">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/BuscarPorClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction="http://tempuri.org/IServicePedidos/BuscarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePedidos">
    <wsdl:port name="BasicHttpBinding_IServicePedidos" binding="tns:BasicHttpBinding_IServicePedidos">
      <soap:address location="http://localhost:63453/ServicePedidos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>