ClientesPedidos/Connected Services/ServiceReference1/ServicePedidos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Datos.ClasEx" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Datos.ClasEx" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPedidosEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidosEx" nillable="true" type="tns:PedidosEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidosEx" nillable="true" type="tns:ArrayOfPedidosEx" />
  <xs:complexType name="PedidosEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientesEx" nillable="true" type="tns:ClientesEx" />
      <xs:element minOccurs="0" name="ClientesId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPedido" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdP" type="xs:int" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProdEx" nillable="true" type="tns:ProdEx" />
      <xs:element minOccurs="0" name="ProductosId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidosEx" nillable="true" type="tns:PedidosEx" />
  <xs:complexType name="ClientesEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdC" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesEx" nillable="true" type="tns:ClientesEx" />
  <xs:complexType name="ProdEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdEx" nillable="true" type="tns:ProdEx" />
</xs:schema>